@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #A0327D;
    border-radius: 10px;
    height: 10rem;
}

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;

}

/* SECTION1 */
.s1 {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-image: url("../assets/capa.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    font-family: 'Space Grotesk', Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    box-sizing: border-box;

    .s1-content {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 60px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;

        .side-block {
            text-align: center;
            max-width: 780px;
            margin: 0 auto;

            .s1-title {
                font-size: 35px;
                font-family: 'Space Grotesk', Helvetica, sans-serif;
            }

            .s1-subtitle {
                font-size: 20px;
                font-weight: 100;
                font-family: 'Space Grotesk', Helvetica, sans-serif;
            }

        }
    }
}

/* SECTION2 */
.s2 {
    width: 100vw;
    background-color: #fff;
    border-top: 1px solid #bab9b96c;
    border-bottom: 1px solid #bab9b96c;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    font-family: 'Inter', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    z-index: 2;

    margin-top: 40px;
    margin-bottom: 40px;

    .s2-jump {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 15px;
        padding: 20px 10px;
        max-width: 1300px;
        width: 100%;

        .s2-jump-label {
            color: #3C4242;
            font-size: 9px;
            font-weight: 500;
            margin-left: 1rem;
            margin-right: 5px;
            padding-left: 1rem;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: -50%;
                top: 50%;
                transform: translateY(-50%);
                height: 10rem;
                border-left: 1px solid #bab9b96c;
            }
        }

        .s2-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .s2-btn {
                background-color: #FDF2F8;
                border: 1.5px solid #A0327D;
                border-radius: 30px;
                padding: 8px 18px;
                color: #A0327D;
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s ease;
            }
        }
    }
}

/* SECTION3 */
.s3 {
    width: 100%;
    background-color: #fff;
    font-family: 'Inter', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 0 60px;
    padding-bottom: 40px;

    sup {
        font-size: 9px;
    }

    .s3-main-container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
    }

    .s3-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .s3-header {
        display: flex;
        align-items: center;
        gap: 15px;

        .s3-icon {
            width: 120px;
            height: 120px;
            object-fit: contain;
            filter: drop-shadow(0 0 10px rgba(160, 50, 125, 0.3));
        }

        .s3-title {
            font-size: 32px;
            font-weight: 700;
            color: #7E004C;
            margin: 0;
            font-family: 'Inter', Helvetica, sans-serif;
        }
    }

    .s3-text {
        color: #3C4242;
        font-size: 16px;
        line-height: 1.6;
        font-family: 'Inter', Helvetica, sans-serif;
    }

    .s3-box {
        border: 1.5px solid #7E004C;
        border-radius: 20px;
        padding: 25px;
        margin-top: 10px;

        p {
            color: #3C4242;
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 15px;
            font-family: 'Inter', Helvetica, sans-serif;
        }
    }
}

/* SECTION4 */
.s4 {
    width: 100%;
    font-family: 'Inter', Helvetica, sans-serif;
    background-color: #f6f6f6;
    padding: 40px 60px;
    display: flex;
    justify-content: center;

    sup {
        font-size: 9px;
    }

    .s4-main-container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
    }

    .s4-top {
        text-align: left;

        .s4-top-header {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 20px;

            .s4-icon {
                width: 130px;
                height: 130px;
                object-fit: contain;
            }

            .s4-top-texts {
                h2 {
                    font-size: 32px;
                    font-weight: 800;
                    color: #7E004C;
                    margin-bottom: 5px;
                }

                h3 {
                    font-size: 32px;
                    font-weight: 300;
                    color: #7E004C;

                    span {
                        font-size: 27px;

                    }
                }
            }
        }

        .s4-top-text {
            color: #3C4242;
            font-size: 1rem;
            line-height: 1.6;
            margin-bottom: 1rem;

            strong {
                font-weight: 700;
            }
        }
    }

    .s4-card {
        width: 100%;
        background-color: #fff0f7;
        border-radius: 30px;
        padding: 30px 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .s4-items {
            display: flex;
            flex-direction: column;

            .s4-item {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 5px 20px;
                background-color: #FDF2F8;

                .title {
                    flex: 0 0 260px;
                    text-align: center;
                    font-weight: 700;
                    color: #7E004C;
                    padding: 18px 25px;
                    border: 1px solid #7E004C;
                    border-radius: 50px;
                }

                .description {
                    flex: 1;
                    font-size: 13px;
                    font-weight: 400;
                    color: #3C4242;
                    line-height: 1.5;
                }
            }
        }
    }
}

/* SECTION5 */
.s5 {
    width: 100%;
    font-family: 'Inter', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 60px 60px;

    .s5-main-container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
    }

    .s5-top {
        width: 100%;

        .s5-top-header {
            display: flex;
            align-items: center;
            gap: 15px;

            .s5-icon {
                width: 130px;
                height: 130px;
                object-fit: contain;
            }

            .s5-top-texts {
                h2 {
                    font-size: 32px;
                    font-weight: 800;
                    color: #6a1b59;
                    margin-bottom: 5px;
                }

                h3 {
                    font-size: 32px;
                    color: #6a1b59;
                }
            }
        }
    }

    .s5-image-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 20px;
        padding: 0 40px;

        .s5-image {
            max-width: 100%;
            height: auto;
            border-radius: 15px;
        }

        .s5-image-caption {
            font-size: 0.9rem;
            font-weight: 300;
            color: #3C4242;
        }
    }

    .s5-center-text {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;

        p {
            font-size: 1rem;
            color: #291b58;
            font-weight: 500;
        }
    }

    .s5-line-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        position: relative;
        text-align: center;
        margin: 20px auto;

        .s5-line {
            border: none;
            border-top: 2px solid #A8546B;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 1;
        }

        .s5-line-span {
            background-color: #ffffff;
            padding: 0 50px;
            font-weight: 300;
            color: #A8546B;
            position: relative;
            z-index: 2;
        }
    }

    .s5-bottom-text {
        width: 100%;
        text-align: left;

        p {
            font-size: 0.9rem;
            line-height: 1.6;
            font-weight: 300;
            color: #3C4242;

            sup {
                font-size: 10px;
            }
        }
    }
}

/* SECTION6 */
.s6 {
    width: 100%;
    background-color: #FDF2F8;
    font-family: 'Inter', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 0px 60px;
    position: relative;
    overflow: hidden;

    sup {
        font-size: 9px;
    }

    .s6-main-container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: flex-start;
        position: relative;
        z-index: 2;
        margin: 0 auto;
    }

    .s6-content {
        display: flex;
        width: 100%;
        gap: 40px;
    }

    .s6-left {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #3C4242;
        z-index: 2;
        padding: 60px 0;

        .s6-top-header {
            display: flex;
            align-items: center;
            gap: 15px;

            .s6-icon {
                width: 130px;
                height: 130px;
                object-fit: contain;
            }

            .s6-top-texts {
                h2 {
                    font-size: 32px;
                    font-weight: 800;
                    color: #6a1b59;
                    margin-bottom: 5px;
                }

                h3 {
                    font-size: 32px;
                    color: #6a1b59;
                }
            }
        }

        .s6-bold-text {
            font-weight: 700;
            font-size: 1rem;
        }

        .s6-bullets {
            list-style: disc inside;
            line-height: 1.6;
            padding-left: 15px;
        }

        .s6-bottom-text {
            font-size: 1rem;
            line-height: 1.6;
        }
    }

    .s6-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 1;
        pointer-events: none;

        .s6-image {
            height: 100%;
            width: auto;
            object-fit: cover;
            display: block;
            transform: translateX(60px);
        }
    }
}

/* SECTION7 */
.s7 {
    width: 100%;
    font-family: 'Inter', Helvetica, sans-serif;
    padding: 60px 60px;
    color: #3C4242;
    display: flex;
    justify-content: center;

    sup {
        font-size: 9px;
    }

    .s7-main-container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .bold-text {
        font-weight: 700;
        color: #3C4242;
        margin: 30px 0 0 30px;
    }

    .s7-top-text {
        h2 {
            font-size: 2rem;
            font-weight: 800;
            color: #6a1b59;
            margin-bottom: 15px;
        }

        p {
            font-size: 16px;
            margin-bottom: 10px;
            color: #3C4242;
        }

        .s7-top-header {
            display: flex;
            align-items: center;
            gap: 15px;

            .s7-icon {
                width: 130px;
                height: 130px;
                object-fit: contain;
            }

            .s7-top-texts {
                h2 {
                    font-size: 32px;
                    font-weight: 800;
                    color: #6a1b59;
                    margin-bottom: 5px;
                }

                h3 {
                    font-size: 32px;
                    color: #6a1b59;
                }
            }
        }
    }

    .s7-box {
        background-color: #FDF2F8;
        border-radius: 15px;
        padding: 20px;
        margin: 0 0 20px 30px;

        ul {
            list-style-type: disc;
            padding-left: 20px;

            li {
                margin-bottom: 1px;
                font-size: 1rem;
                font-weight: 300;
                color: #3C4242;
            }
        }
    }

    .s7-box-diferent {
        background-color: #AE608F;
        border-radius: 15px;
        padding: 20px;
        margin: 0 0 20px 30px;

        ul {
            list-style-type: disc;
            padding-left: 20px;

            li {
                margin-bottom: 1px;
                font-size: 1rem;
                font-weight: 300;
                color: #ffffff;
            }
        }
    }

    .s7-figure {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #3C4242;
        margin-bottom: 40px;
        gap: 20px;

        img {
            max-width: 60%;
            border-radius: 10px;
        }

        p {
            font-size: 0.9rem;
            font-weight: 300;
            color: #3C4242;
        }
    }

    .s7-full-box {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;

        background-image: url("../assets/BG.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        padding: 40px 60px;
        display: flex;
        justify-content: center;
        color: #58201b;

        .s7-full-container {
            position: relative;
            z-index: 2;
            width: 100%;
            max-width: 1200px;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-size: 1.8rem;
                font-weight: 600;
                color: #ffffff;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
                color: #ffffff;
                font-weight: 200;
            }

            .bold-text1 {
                font-weight: 700;
                margin: 10px 0 0 30px;
            }
        }
    }
}

/* SECTION8 */
.s8 {
    width: 100%;
    background-color: #fff;
    font-family: 'Inter', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #291b58;
    padding: 0px 60px;

    sup {
        font-size: 9px;
    }

    .s8-main-container {
        width: 100%;
        max-width: 1200px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .s8-header {
        display: flex;
        align-items: center;
        gap: 20px;

        .s8-icon {
            width: 130px;
            height: auto;
        }

        h2 {
            font-size: 32px;
            font-weight: 800;
            color: #6a1b59;
            line-height: 1.3;
        }
    }

    .s8-text {
        font-size: 16px;
        color: #3C4242;

        br {
            display: none;
        }

        .bold-text {
            font-weight: 700;
            margin-top: 10px;
            margin: 20px 0 0 30px;
        }
    }

    .s8-box {
        background-color: #fdf2f8;
        border-radius: 15px;
        padding: 20px;
        margin: 0px 0 0 30px;

        ul {
            list-style-type: disc;
            padding-left: 20px;

            li {
                font-size: 16px;
                color: #3C4242;
            }
        }
    }

    .s8-full-box {
        width: 100vw;
        background-color: #fdf2f8;
        display: flex;
        justify-content: center;
        padding: 60px 60px;

        .s8-full-container {
            width: 100%;
            max-width: 1200px;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: #3C4242;

            .s8-inner-box {
                background-color: #f3dae8;
                align-items: center;
                border-radius: 15px;
                padding: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 40px;

                .s8-left {
                    flex: 1 1 40%;

                    h3 {
                        font-size: 40px;
                        font-weight: 700;
                        color: #6a1b59;
                    }
                }

                .s8-right {
                    flex: 1 1 55%;

                    .bold-text {
                        font-weight: 700;
                        margin-bottom: 40px;
                    }

                    ul {
                        list-style-type: disc;
                        padding-left: 20px;

                        li {
                            margin-bottom: 8px;
                            font-size: 1rem;
                        }
                    }
                }
            }

            .s8-paragraphs {
                display: flex;
                flex-direction: column;
                gap: 25px;

                p {
                    font-size: 1rem;
                    color: #3C4242;
                }
            }
        }
    }
}

/* SECTION9 */
.s9 {
    width: 100%;
    background-color: #fff;
    font-family: 'Inter', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px 60px 40px 60px;

    sup {
        font-size: 9px;
    }

    .s9-container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .s9-header-diferent {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 50px 0 10px 0;

        .s9-icon {
            width: 130px;
            height: auto;
        }

        &.small .s9-icon-small {
            width: 80px;
            height: auto;
        }

        .s9-title {
            font-size: 32px;
            font-weight: 800;
            color: #6a1b59;
            line-height: 1.3;
        }
    }

    .s9-header {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 0;

        .s9-icon {
            width: 130px;
            height: auto;
        }

        &.small .s9-icon-small {
            width: 80px;
            height: auto;
        }

        .s9-title {
            font-size: 32px;
            font-weight: 800;
            color: #6a1b59;
            line-height: 1.3;
        }
    }

    .s9-text {
        font-size: 16px;
        color: #3C4242;
        line-height: 1.6;

        &.margin {
            margin: 20px 0 0 30px;
        }
    }

    .s9-text-indent {
        font-size: 16px;
        color: #3C4242;
        margin: 0 0 0 30px;
    }

    .s9-subtitle {
        font-size: 16px;
        font-weight: 700;
        color: #3C4242;
        margin: 20px 0 20px 30px;

        &.margin {
            margin: 20px 0 0 30px;
        }
    }

    .s9-box {
        background-color: #FDF2F8;
        border-radius: 16px;
        padding: 25px 30px;
        font-size: 16px;
        margin: 10px 0 0 30px;

        ul,
        ol {
            padding-left: 25px;
            margin: 0;

            li {
                color: #3C4242;
                line-height: 1.6;
            }
        }
    }

    .desk-future {
        display: flex;
    }

    .mobile-future {
        display: none;
    }

    .s9-future {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 100px;
        position: relative;

        .s9-future-left {
            flex: 1 1 40%;
            background-color: transparent;

            .s9-future-title {
                font-size: 40px;
                font-weight: 700;
                color: #6a1b59;

                span {
                    font-weight: 300;
                }
            }
        }

        .s9-future-right {
            flex: 1 1 60%;
            position: relative;
            padding: 40px 30px;
            z-index: 1;

            .s9-future-bg {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #f3f5f5;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                z-index: -1;
                width: 100vw;
                transform: translateX(calc((100vw - 110%) / 10));
            }

            .s9-future-content {
                position: relative;
                z-index: 2;

                p {
                    font-size: 16px;
                    color: #333;
                    line-height: 1.5;
                }
            }
        }
    }
}

/* SECTION9 */
.s10 {
    width: 100%;
    background-color: #fdf2f8;
    font-family: 'Inter', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px 60px;

    .s10-container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .s10-title {
        font-size: 34px;
        font-weight: 700;
        color: #7E004C;
    }

    .s10-text {
        font-size: 16px;
        color: #3C4242;
        line-height: 1.4;
        font-weight: 300;
    }

    .s10-box {
        background-color: #7E004C;
        border-radius: 16px;
        padding: 35px 40px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

        p {
            font-size: 16px;
            color: #ffffff;
            line-height: 1.7;
            font-weight: 300;

            strong {
                font-weight: 800;
            }
        }
    }
}

/* SECTION10 */
.s11 {
    width: 100%;
    background-color: #f3f5f5;
    font-family: 'Inter', Helvetica, sans-serif;
    justify-content: center;
    padding: 60px 60px;

    .s11-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .s11-container-br {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: justify;

        p {
            font-size: 14px;
            line-height: 1.3;
            color: #3C4242;
        }
    }

    p {
        font-size: 12px;
        line-height: 1.6;
        color: #3C4242;
    }



}